/*=====google fonts import=====*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=EB+Garamond:wght@500&family=Lora:ital,wght@1,600&family=Montserrat:wght@800&family=Open+Sans&family=Roboto+Flex:wght@500&display=swap');

/*=====general styles=====*/
:root {
    background-color: white;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}


h1 {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}


h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}


h2 {
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}


h3 {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
}

#logo-text {
    font-family: aboreto, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}


p {
    font-family: "EB Garamond", Arial, Helvetica, sans-serif;
}

/*=====navbar & logo=====*/
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black; /*FIXME Change to black*/
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.logo-link {
    text-decoration: none;
}


/*=====Footer=====*/

footer {
    background-color: black; 
    color: white;
    padding: 4rem 1rem;
}


footer a {
    text-decoration: none;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}


.footer-main {
    display: flex;
    margin-bottom: 1rem;
}


.footer-column {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}


.footer-heading{
    margin-bottom: 1rem;
}


.footer-link {
    display: block;
    width: max-content;
    margin: 0 auto;
}


.footer-social {
    font-size: 12px;
    margin-left: 2rem;
}


/*=====utilities=====*/

.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}


.container>* {
    width: 100%;
}


.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-center {
    justify-content: center;
    align-items: center;
}


.justify-center {
    justify-content: center;
}


.text-center {
    text-align: center;
}


.hidden {
    display: none;
}


/*=====buttons=====*/
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}


.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/*=====form=====*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*style input form*/

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}


input::placeholder {
    color: #aaa;
}


/*=====game quiz styling page=====*/

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    /* Note: Change border color*/
    background-color: white;
}


.choice-container:hover {
    cursor: pointer;
    box-shadow: 0.4rem rgb(86, 185, 235, 0.5);
    /*Note: button hover color settings */
    transform: translate(-0.1rem);
    transition: transform 150ms;
}


.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}


.choice-text {
    padding: 1.5rem;
    width: 100%;
}


/*=====feedback question=====*/

.correct {
    background-color: #28a745;
}


.incorrect {
    background-color: #dc3545;
}


/*HUD: head over display*/

#hud {
    display: flex;
    justify-content: space-between;
}


.hud-prefix {
    text-align: center;
    font-size: 2rem;
}


.hud-main-text {
    text-align: center;
}


#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
}


#progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
}


/*=====high score styling page=====*/

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}


.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}


.high-score:hover {
    transform: scale(1.025);
}


/*=====rules pages=====*/

.rules-container {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.information-container {
    /*FIXME: Proper unit for font size*/
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}


.rules-container {
    font-size: 1.rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
}


/*=====media queries=====*/

/* media queries - medium devices 768px */

@media only screen and (max-width: 768px) {

    .footer-main {
        flex-direction: column;
    }
}


